/* Global
================================= */

body{background-color: white;}

.container#main{margin-bottom: 4em; margin-top: 10px;}

/* Typography
================================= */

p.lead {font-size: 24px;}
p.lead.sharing {font-size:initial;}
.link-list{line-height:1.8;list-style-type:none;margin:0 0 2em;padding:0;}
a,.link-list .heading a{color:#C44D34;}
.link-list .heading{font-weight:700;margin-bottom:10px;}
blockquote{color:#C44D34;font-size:21px;font-weight:300;line-height:1.4em;margin-bottom:20px;}
code{font-size:13px;}
h1{font-weight:200;margin-bottom:30px;}
h2{font-size:2.4em;}
h2,h3{color:#5f5d60;margin-bottom:16px;margin-top:0;}
h3{font-size:1.25em;}
h3,h4,h5{border:0 solid #efefef;border-bottom-width:1px;padding-bottom:10px;}
li,ul{color:#637073;font-size:14px;font-weight:200;line-height:1.6em;}
p{font-size: 19px;line-height: 1.6em;}
strong{color:#5f5d60;}

/* ALA Header
================================= */

.navbar .navbar-inner {min-height: 50px;}
.navbar-inner  img.brand {max-height: 20px;margin-top: 2px;}
.navbar-inner a.brand {display: block;float: left;color: #f47a61;font-size: 16px;padding-right: 15px;}
.navbar-inner ul.nav > li > a,.navbar-inner  a.brand {padding: 15px 10px;line-height: 20px;text-shadow: none;}
.navbar-inner  ul.dropdown-menu li a {padding: 3px 20px;}
.navbar-inner form {margin: 0; position: relative; left: 0; display: block; float: left;}
.navbar-inner form input {width: 172px;}
.navbar-inner form input, .navbar form .btn {margin-top: 10px;}
.navbar .btn-navbar {margin: 8px 15px;padding: 9px 10px;}

/* Scaffold
================================= */

.show-grid [class*="span"] {background-color:#eee;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;min-height:40px;line-height:40px;}

/* Footer
================================= */

/*.main-footer{margin-top: 100px;}*/
.ftr-container{background-color:#F2F2F2;}
.ftr-primary{margin-top: 50px;}
.ftr-secondary,.ftr-social{margin-top: 1em;margin-bottom: 4em;}
footer p.lead{color:#C44D34;}
footer p{font-size: 14px;line-height: 1.6em;}
.ftr-social{margin-bottom:20px;}
/*.main-footer {margin: 100px 0 0;padding: 30px 0 0;}*/
/*.main-footer a {color:#637073;}*/
/*.main-footer,.secondary-footer,.social-footer {font-size:.95em;}*/
/*.social-footer{background-color:#F2F2F2;}*/
.ftr-social > div{padding:2em 0;}
ul.footer-nav.list-inline{padding-top:2px;}
footer.main-footer > div{padding-bottom:0;}
.soc-nav{margin-top: 8px;}
/*footer .container,.social-footer > div{padding:2em 1.5em;}*/
/*.main-footer li,.secondary-footer li,.social-footer li,.main-footer p,.secondary-footer p,.social-footer p{font-size:15px;}*/
/*body > div.container-fluid.ftr-container > footer > div.row-fluid*/.ftr-primary ul > li > a{color: #637073;line-height: 1.8em;}

/* Metrics
================================= */

.progress{height: 6px;background: #e8e8e8;box-shadow: none;margin-top: 10px;}

/* Social Icons
================================= */

.social li > a {border-radius:50%;color:#fff;display:inline-block;height:35px;text-align:center;width:35px;}
.social li a .fa {font-size:15px;padding-top:0.65em;}

/* Social Icons: Background Colours & Hovers
================================= */

li .soc-envelope{background-color:#EF6C53;}
li .soc-envelope:hover{background-color:#DA644E;}
li .soc-facebook{background-color:#507CBE;}
li .soc-facebook:hover{background-color:#4B73AE;}
li .soc-google-plus{background-color:#4D4F54;}
li .soc-google-plus:hover{background-color:#494A4F;}
li .soc-twitter{background-color:#63CDF1;}
li .soc-twitter:hover{background-color:#5CBBDC;}

/* Images (img)
================================= */

#main > div > h2{margin:0 0 .8em;}
.panel-body img{margin:0 10px 10px 0;}
.secondary-footer img{margin-bottom:2em;}
img.aus-govt,img.ncris{max-width:200px;}
img.aus-govt{margin-top: 20px;}
img.gbif,img.csiro{max-width:100px;padding-top:15px;}
img.ncris{margin-top:8px;}


/* Media Queries (Mobile First Method = only add rules to modify larger views)
================================= */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    body{padding-top: 60px; padding-right: 0; padding-left: 0;}
    /*.navbar .navbar-inner{padding-left: 20px;}*/
    .navbar .container{margin-left: 30px;}
    div.navbar.navbar-inverse.navbar-fixed-top > div > div{margin: 0 30px}
    #main{padding-right: 20px;padding-left: 20px;}
    img.aus-govt,img.ncris{max-width:150px;}
    .navbar-inner  a.brand { padding: 15px 7px; font-size: 14px;}
    .navbar .btn-navbar {margin: 8px 7px;}
    .navbar-inner ul.nav > li > a {padding: 5px;}
    .navbar-inner .container-fluid { padding-left: 0; padding-right: 0; }
    .help-text {margin-top: 1em;}
    p.lead {font-size: 16px;}
    .container-fluid.ftr-container{padding-right: 20px;padding-left: 20px;}
    img.aus-govt,img.gbif{padding-bottom: 20px;}
    .navbar-fixed-top .navbar-inner { padding: 0;}
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        /*margin-bottom: 0;*/
    }
    .navbar-inner .nav-collapse.in.collapse .navbar-form .general-search { width: 170px; }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    body { padding-top: 60px;}
    .navbar .container{margin-left: 30px;}
    #main{padding-right: 20px;padding-left: 20px;}
    img.aus-govt,img.ncris{max-width:200px;}
    .navbar-inner ul.nav { margin: 0; }
    .navbar-inner ul.nav > li > a {padding: 7px;}
    .navbar-inner  a.brand { padding: 15px 10px; font-size: 16px;}
    .navbar-fixed-top .navbar-inner {padding: 0;}
    .container-fluid.ftr-container{padding-right: 20px;padding-left: 20px;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body { padding-top: 60px;}
    .input-group.banner{padding-top:10em;}
    .navbar-inner ul.nav {margin: 0;}
    .navbar-inner ul.nav > li > a {padding: 10px;}
    p.lead {font-size: 24px;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .help-text {margin-top: 0;}
    .navbar-inner ul.nav > li > a {padding: 15px 10px;}
}

/* Large Devices, medium Screens */
@media only screen and (max-width : 1050px) {
    .navbar-inner form.navbar-form input.general-search { width: 120px; }
    .navbar-inner ul.nav > li > a {padding-top: 15px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container{width:1100px;}
    .navbar-inner ul.nav > li > a {padding: 15px 15px;}
}